.home{
    background: url(./home-assets/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
  
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100dvh;

    
  }
  .home-container{
    display: flex;
    justify-content: space-between;
    align-items: end;

    width: 100%;
    max-width: 78%;
    height: 100%;

    padding-top: 387px;
    padding-bottom: 100px;
    
    text-transform: uppercase;
  
    border: 1px solid red;
  }
  .home .left{
    width: 45%;
    max-width: 31rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* gap: 1px; */
  
    border: 2px solid greenyellow;
  
  }
  .home .left h1{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    font-size: 150px;
    font-family: "Bellefair", sans-serif;
    font-weight: 300;
    
    text-transform: uppercase;

  }
  .home .left h1 span{
    color: var(--txt-clr-2);
    font-size: 28px;
    font-family: "Barlow condensed", sans-serif;
    font-weight: 300;
    letter-spacing: 4.75px;
  }
  .home .left p{
    width: 100%;
    color: var(--txt-clr-2);
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    text-transform: none;
    line-height: 2rem;
    word-spacing: .1rem;
  }
  .home .right{
    width: 450px;
    height: 450px;

    display: flex;
    justify-content: end;
    align-items: end;
    border: 1px solid orange;
  
  }
  .home .right .explore{
    width: 274px;
   height: 274px;
    border: none;
    border-radius: 50%;
    background-color: var(--txt-clr-1);
    font-size: 32px;
    font-family: "Bellefair";

    position: relative;
    z-index: 0;
    cursor: pointer;
    transition: .3s;

    z-index: 1;
    
  }

  .home .right .explore::before{
    content: "";
    display: block;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: transparent;

    position: absolute;
    inset: 0;
    z-index: -1;
    border: 20px solid transparent;
    box-sizing: content-box;
  }

  .home .right .explore:hover::before{
    border: 40px solid var(--home-btn-hover);
  }
 

  @media (max-width: 768px) {
    .home{
      background: url(./home-assets/background-home-tablet.jpg);
      background-repeat: no-repeat;
      background-position: center; 
      background-size: cover;

      min-width: 100%;
      height: 100dvh;
    }
    .home-container{
      height: 100%;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 156px;
      margin: 0;
      padding-top: 202px;
      /* padding-bottom: 202px; */

    }
    .home .left{
      width: 100%;
    }
    .home .left p{
      font-size: 16px;
    }
    .home .right{
      width: 100%;
      aspect-ratio: 1;
      justify-content: center;
    
    }
    .home .right .explore{
      width: 242px;
      height: 242px;
      text-transform: uppercase;
    }
    
  }

  @media (max-width: 375px) {
    .home{
      background: url(./home-assets/background-home-mobile.jpg);
      background-repeat: no-repeat;
      background-position: center; 
      background-size: cover;
     height: 100dvh;
    }
    .home-container{
      max-width: 90%;
      gap: 88px;
      padding-top: 112px;
      /* padding-bottom: 100px; */

    }
    .home .left{
      font-size: 80px;
      gap: 16px;

    }
    .home .left h1{
      font-size: 80px;
      line-height: 100px;
  
    }
    .home .left h1 span{
      font-size: 16px;
      letter-spacing: 2.7px;
      line-height: 25px;
    }
    .home .left p{
      font-size: 15px;
      line-height: 25px;
    }
    .home .right{
      border: 1px solid ;
    }
    .home .right .explore{
      width: 150px;
      height: 150px;
      font-size: 20px;
    }
    .home .right .explore:hover::before{

      border: 15px solid var(--home-btn-hover);
    }
  }