.crew{
    background: url(./crew-assets/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
  
    width: 100%;
    
    position: relative;
  }
  .crew .wrapper{
    display: flex;
    /* height: 100%; */
  }
  .commander-container,
  .mission-specialist-container,
  .flight-engineer-container,
  .pilot-container{
    width: 100%;
    max-width: 78%;
    
    font-weight: 300;
    text-transform: uppercase;
  
    display: flex;
    flex-direction: column;
  
    height: 100dvh;
    padding-top: 212px;

    border: 1px solid red;
    /* position: relative; */
  }

   .content-bx{
    display: flex;
    flex-direction: column;
    gap: 154px;
    gap: 120px;
  
    height: fit-content;
    max-width: 60%;
    
    border: 1px solid greenyellow;
  }
   .content-bx .left{
    border: 1px solid white;
  
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
   .content-bx .right{
    border: 1px solid pink;
    height: 100%;
  }
  .wrapper{
    padding-top: 154px;
    position: relative;
    /* border:  2px solid ; */
  }
  .wrapper .right img{
    height: 100%;
    max-width: 45%;
    position: absolute;
    top: 0;
    /* left: 0; */
    /* object-fit: cover; */
  }
  .crew h2{
    font-size: 28px;
    font-family: "Barlow condensed", sans-serif;
    font-weight: 300;
    letter-spacing: .2rem;


  }
  .crew h2 span{
    color: #695858;
    
    
    font-weight: 650;
  }
  
  .crew h3{
    font-size: 56px;
    font-family: "Bellefair", sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .crew h3 span{
    color: var(--h3-span-clr);
    font-family: "Bellefair", sans-serif;
    font-size: 32px;
  }
  
  .crew .left p{
    text-transform: none;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
  
    max-width: 60%;
  }
  
  .crew .commander-container .indicator,
  .crew .mission-specialist-container .indicator,
  .crew .pilot-container .indicator,
  .crew .flight-engineer-container .indicator{
    display: flex;
    gap: 1rem;
  }
  .crew .commander-container .indicator a:nth-child(1),
  .crew .mission-specialist-container .indicator a:nth-child(2),
  .crew .flight-engineer-container .indicator a:nth-child(3),
  .crew .pilot-container .indicator a:nth-child(4){
    background-color: var(--txt-clr-1);
  }
  .crew .indicator a{
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--indi-clr-3);

    transition: .4s;
    border: none;
    cursor: pointer;
  }
  .crew .indicator a:hover{
    background-color: var(--indi-clr-2);
  }


  @media (max-width: 768px) {
    .commander-container,
    .mission-specialist-container,
    .flight-engineer-container,
    .pilot-container{
      max-width: 90%;
      height: 100%;
      flex-direction: column;
      gap: 60px;
      padding-top: 136px;
      padding-bottom: 0;

    }
    .wrapper{
      width: 100%;
      padding-top: 0;
      flex-direction: column;
      /* align-items: center; */
      /* justify-content: end; */
      gap: 40px;
    }
    .wrapper .right{
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: stretch;
      border: 1px solid orange;
    }
    .wrapper .right img{
      height: 100%;
      width: 100%;
      position: static;

      /* top: 0; */
      /* left: 0; */
      object-fit: contain;
    }
    .content-bx{
      max-width: 100%;
      gap: 40px;
      flex-direction: column;

    }
    .crew h2{
      font-size: 20px;

    }
    .content-bx .left{
      align-items: center;
      text-align: center;
    }
    .crew h3{
      font-size: 40px;
      font-family: "Bellefair", sans-serif;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    .crew .left p{
      max-width: 75%;
    }
    .commander-container > .right,
    .mission-specialist-container > .right,
    .flight-engineer-container > .right,
    .pilot-container > .right{
    text-align: center;
    }
    .crew .commander-container .indicator,
    .crew .mission-specialist-container .indicator,
    .crew .pilot-container .indicator,
    .crew .flight-engineer-container .indicator{
      justify-content: center;

    }
    .crew .indicator a{
      background-color: var(--indi-clr-2);

    }
    .crew .indicator a:hover{
      background-color: var(--indi-clr-3);
    }

  }

  @media (max-width: 375px) {
    .commander-container,
    .mission-specialist-container,
    .flight-engineer-container,
    .pilot-container{
      max-width: 90%;
      flex-direction: column;
      gap: 32px;
      padding-top: 88px;

    }
    .content-bx{
      order: 2;
      margin-top: -32px;
      padding-top: 32px;

    }
    .content-bx .left{
      /* border: 1px solid white; */
    
      /* display: flex; */
      /* flex-direction: column; */
      /* gap: 27px; */
      order: 2;
      gap: 32px;
    }
    .crew h3{
      font-size: 24px;
      /* font-family: "Bellefair", sans-serif; */
      /* font-weight: 300; */
      /* display: flex; */
      /* flex-direction: column; */
      /* gap: 8px; */
    }
    .crew h3 span{
      font-size: 16px;
    }
    .crew .left p{
      font-size: 15px;
      max-width: 95%;
      margin-top: -24px;
    }
    .commander-container > .right,
    .mission-specialist-container > .right,
    .flight-engineer-container > .right,
    .pilot-container > .right{
      height: 223px;
    text-align: center;
    order: 1;
    }
  }
  .commander-container > .right img,
  .mission-specialist-container > .right img,
  .flight-engineer-container > .right img,
  .pilot-container > .right img{
  text-align: center;
  width: 100%;
  height: 100%;
  object-fit:contain;
  border-bottom: 1px solid var(--bdr-clr);
  }
  